<mat-card>

  <form [formGroup]="changePasswordForm">

    <mat-horizontal-stepper linear #stepper>

      <mat-step [stepControl]="fgOldPassword" errorMessage="Skriv din nuværende adgangskode!">
        <form [formGroup]="fgOldPassword">
          <ng-template matStepLabel> Nuværende Adgangskode </ng-template>
          <mat-form-field>
            <input matInput type="password" placeholder="Adgangskode" formControlName="passwordCtrl"
              placeholder="Adgangskode" required>

            <mat-error allign="end" *ngIf="fgOldPassword.get('passwordCtrl').hasError('required')">
              Udfyld adgangskoden feltet for at ændre koden
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Næste</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fgNewPassword" errorMessage="Skriv din ny adgangskode!">
        <form [formGroup]="fgNewPassword">
          <ng-template matStepLabel> Ny Adgangskode </ng-template>
          <mat-form-field>
            <input matInput type="password" placeholder="Adgangskode" formControlName="passwordCtrl"
              placeholder="Adgangskode" required>

            <mat-error allign="end" *ngIf="fgNewPassword.get('passwordCtrl').hasError('required')">
              Udfyld adgangskoden feltet for at ændre koden
            </mat-error>
          </mat-form-field>

        </form>
      </mat-step>

    </mat-horizontal-stepper>
  </form>


  <div class="form-group">
    <button mat-raised-button color="primary" (click)="onChange()">Ændre</button>
  </div>
</mat-card>



<ngb-alert id="SuccessMessage" *ngIf=" message && !message.isErrorMessage" #alert [dismissible]="false">
  <strong>{{message.message}}</strong> 
</ngb-alert>

<ngb-alert id="errorMessage"  *ngIf=" message && message.isErrorMessage" #alert [dismissible]="false">
  <strong>{{message.message}}</strong> 
</ngb-alert>

