mat-card{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background:rgba(255,255,255,0.9);

}


mat-form-field{
width: 100%;
background: transparent;

}

mat-horizontal-stepper{
    background: transparent;
}

mat-step{
    background: transparent;
}

form{
    background: transparent;
}

ng-template{
    background: transparent;
}

#errorMessage{
    background-color: rgb(255, 153, 153);
    color: rgb(255, 255, 255);  
    width: 50%;
    margin: auto;
}

#successMessage{
    background-color: rgb(196, 255, 196);
    color: white;
    width: 50%;
    margin: auto;
}

