

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>

  <form [formGroup] ="signupForm">
  
    <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="fgEmail" errorMessage="Ny E-mail">
      <form [formGroup]="fgEmail">
        <ng-template matStepLabel> E-mail </ng-template>
        <mat-form-field>
          <input matInput type="email" placeholder=" E-mail" formControlName="emailCtrl" required>
          <mat-error allign="end" *ngIf="fgEmail.get('emailCtrl').hasError('required')">
              Udfyld E-mail feltet for at logge ind
            </mat-error>
            <mat-error allign="end" *ngIf="fgEmail.get('emailCtrl').hasError('email')">
                Din email skal være oprigtig
              </mat-error>
        </mat-form-field>
        <div>
         
          <button mat-button matStepperNext>Næste</button>
          </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="fgPassword" errorMessage="Skriv din adgangskode!">
      <form [formGroup]="fgPassword">
        <ng-template matStepLabel> Adgangskode </ng-template>
        <mat-form-field>
          <input 
          matInput
           type="password"
            placeholder="Adgangskode"
             formControlName="passwordCtrl"
             placeholder="Adgangskode"
              required>

              <mat-error allign="end" *ngIf="fgPassword.get('passwordCtrl').hasError('required')">
                  Udfyld adgangskoden feltet for at oprette en bruger
                </mat-error>
        </mat-form-field>

      </form>
    </mat-step>
  
  </mat-horizontal-stepper>
  </form>
  
  
  <div class="form-group">
      <button mat-raised-button color="primary" (click)="onSignup()">Log in</button>
    </div>
  </mat-card>


    <ngb-alert id="SuccessMessage" *ngIf=" message && !message.isErrorMessage" #alert [dismissible]="false">
      <strong>{{message.message}}</strong> 
    </ngb-alert>
  
    <ngb-alert id="errorMessage"  *ngIf=" message && message.isErrorMessage" #alert [dismissible]="false">
      <strong>{{message.message}}</strong> 
    </ngb-alert>

